<form method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" name="returnUrl" value="@Context.Request.Query["ReturnUrl"]" />

    <div class="form-group">
        <input name="username" class="form-control" placeholder="Kasutajanimi" />
    </div>

    <div class="form-group">
        <input name="password" type="password" class="form-control" placeholder="Parool" />
    </div>

    <button type="submit" class="btn-primary">Logi sisse</button>

    @if (ViewBag.Error != null)
    {
        <p class="text-danger">@ViewBag.Error</p>
    }
</form>