@{
    ViewData["Title"] = "Logo ja disain";
}

<h1>Logo ja disain</h1>

<p>
    Sinu visuaalne identiteet on esimene asi, mida inimesed märkavad.
    See loob esmamulje enne, kui nad sinu teenust üldse mõistavad.
</p>

<h2>Kui bränd ei tööta nii nagu võiks:</h2>

<ul>
    <li>Visuaal ei peegelda sinu ettevõttet</li>
    <li>Bränd ei jää meelde ega eristu konkurentidest</li>
    <li>Kujundus tundub juhuslik, mitte läbimõeldud</li>
</ul>


<p>
    <strong>Hea disain ei ole ainult ilus – see loob usaldust, selgust ja äratuntavust.</strong>
</p>
