@{
    ViewData["Title"] = "Lisa kasutaja";
}

<div class="admin-container center">

    <div class="admin-card delete-card">

        <div class="admin-header center-text">
            <h2 class="admin-title">Uus töötaja</h2>
        </div>

        <form method="post">

            <div class="form-group">
                <label class="form-label">Kasutajanimi</label>
                <input name="username" class="form-control" />
            </div>

            <div class="form-group">
                <label class="form-label">Parool</label>
                <input name="password" type="password" class="form-control" />
            </div>

            <div class="form-actions center">

                <button type="submit" class="btn-primary">
                    Salvesta
                </button>

                <a asp-controller="Projects" asp-action="Index" class="btn-secondary-custom">
                    Tühista
                </a>

            </div>

            @if (ViewBag.Error != null)
            {
                <p class="text-danger" style="margin-top:15px;">
                    @ViewBag.Error
                </p>
            }

        </form>
    </div>
</div>